div(ng-include='"components/navbar/navbar.html"')

.container
	.row 
		.col-md-3
			.panel.panel-default
				.panel-heading Entity: {{entity.phone | tel}}
				.panel-body.vertical-layout
					.item
						col-md-3(ng-if="faceImageUrl.length==0")
							img.responsive(ng-src="http://upload.wikimedia.org/wikipedia/commons/1/1a/Black_-_replace_this_image_female.svg",
								style="max-height:80px; margin:0 auto;")
						col-md-3(ng-if="faceImageUrl.length >0", ng-repeat='img in faceImageUrl | limitTo:5')
							img.responsive(ng-src="{{img}}"
								style="max-height:80px; margin:0 auto;"
								ng-class="{blurry: blur == true, clear: blur != true}")

						
					.item
						p Names: {{entity.name.join(', ') | capitalize}}
					.item 
						label Blur Images:
						input(type="checkbox" ng-model="blur")
					.item 
						button.btn-success(ng-click='saveEntity()') Save Entity 

			.panel.panel-default(style="height: 300px")
				.panel-heading Map
				ui-gmap-google-map(center='map.center', zoom='map.zoom')
					ui-gmap-markers(models='markers', coords="'self'", icon="'icon'")

			.panel.panel-default
				.panel-heading Entity Identifiers
				.panel-body.vertical-layout
					ul.nobullets.item
						li(ng-if="entity.email.length > 0") e-mail: {{entity.email.join(', ') }}
						li(ng-if="entity.twitter.length > 0") Twitter: {{entity.twitter.join(', ') }}
						li(ng-if="entity.instagram.length > 0") Instagram: {{entity.instagram.join(', ') }}
						li(ng-if="entity.youtube.length > 0") Youtube: {{entity.youtube.join(', ') }}
						li(ng-if="entity.yelp.length > 0") Yelp: {{entity.yelp.join(', ') }}

			.panel.panel-default
				.panel-heading Entity Details
				.panel-body
					ul.nobullets
						li(ng-if="entity.age.length > 0") Ages: {{entity.age.join(', ')}}
						li(ng-if="entity.ethnicities.length > 0") Ethnicities: {{entity.ethnicities.join(', ') | capitalize}}
						li(ng-if="entity.minPrice.length > 0") Hourly Price Range: {{entity.minPrice}} to {{entity.maxPrice}}
						li(ng-if="entity.modePrice.length > 0") Mode Price: {{entity.modePrice}}
						li(ng-if="entity.height.length > 0") Height: {{entity.height.join(', ')}}
						li(ng-if="entity.weight.length > 0") Weight: {{entity.weight.join(', ')}}
						li(ng-if="entity.eyes.length > 0") Eyes: {{entity.eyes.join(', ')}}
						li(ng-if="entity.hair.length > 0") Hair: {{entity.hair.join(', ')}}
						li(ng-if="entity.cities.length > 0") Cities: {{entity.cities.join(', ') | capitalize}}
		.col-md-9

			.panel.panel-default
				tabset
					tab(heading='{{ads.length}} Ads and Reviews')
						include ./partials/ads.jade
					tab(heading='{{imageUrls.length}} Images')
						include ./partials/images.jade
					tab(heading='{{suggestedAds.length}} Similar Ads')
						include ./partials/suggested.jade
					tab(heading='{{annotations.length}} Annotations')
						include ./partials/annotations.jade
					tab(heading='{{entity.twitter.length + entity.instagram.length + entity.youtube.length + entity.yelp.length}} Social Media Posts')
						include ./partials/twitter.jade

hr
footer.footer
	.container
		center Designed and Developed by Qadium 2015. All code is open source.
		center About Help Terms Privacy 