div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.entity-summary.col-md-3
			
			.panel.panel-default
				.panel-heading Entity Profile
				.panel-body
					p Phone: {{entity.phone | tel}}
					p Ages: {{entity.ages.join(', ')}}
					p Cities: {{entity.cities.join(', ')}}
					p Ethnicities: {{entity.ethnicities.join(', ')}}
					p {{ads.length}} Ads
					p {{reviews.length}} Reviews

			.panel.panel-default(style="height: 300px")
				.panel-heading Map
				.panel-body
					|map goes here
			
		.col-md-9
			//cal-heatmap(config="{domain:'year',range:1,cellSize:15}")

			hr

			tabset
				tab(heading='Ads within Entity')
					include ./partials/ads.jade
				tab(heading='Suggested Ads')
					include ./partials/images.jade
				//tab(heading='Annotations')
				//	include ./partials/annotations.jade


footer.footer
	.container
		p Qadium 2015