div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.entity-summary.col-md-3
			
			.panel.panel-default
				.panel-heading Entity Profile
				.panel-body
					p Phone: {{entity.phone | tel}}
					p Ages: {{entity.ages.join(', ')}}
					p Cities: {{entity.cities.join(', ') | capitalize}}
					p Ethnicities: {{entity.ethnicities.join(', ') | capitalize}}
					p {{ads.length}} Ads

			.panel.panel-default(style="height: 300px")
				.panel-heading Map
				.panel-body
					ui-gmap-google-map(center='map.center', zoom='map.zoom')
					button(ng-click='expandMap()') 
						|Expand Map


					
			.panel.panel-default
				.panel-heading Options
				.panel-body
					label Blur Images:
						input(type="checkbox" ng-model="blur")
			
		.col-md-9

			cal-heatmap(config="{domain:'year',range:1,cellSize:15}")

			hr

			tabset
				tab(heading='{{ads.length}} Ads within Entity')
					include ./partials/ads.jade
				tab(heading='{{imageUrls.length}} Entity Images')
					include ./partials/images.jade
				tab(heading='{{suggestedAds.length}} Suggested Ads')
					include ./partials/suggested.jade

footer.footer
	.container
		p Qadium 2015