div(ng-include='"components/navbar/navbar.html"')

.container
	.row 
		.entity-summary.col-md-3
			
			#box.panel.panel-default
				#head1.panel-heading Entity: {{entity.phone | tel}}
				.panel-body
					col-md-3(ng-repeat='img in face_image_url')
						img.responsive(ng-src="{{img}}"
							style="max-height:80px; margin:0 auto;"
							ng-class="{blurry: blur == true, clear: blur != true}")
					br 
					br
					p Names: {{entity.name.join(', ') | capitalize}}
					label Blur Images:
					input(type="checkbox" ng-model="blur")
					br 
					button.btn-success() Save Entity 
			#box.panel.panel-default
				#head1.panel-heading Automated Analysis
				.panel-body
					p e.g. Movement pattern analysis (i.e. lots of ads in many places, SF-NY pattern, etc.)
					p e.g. Highlighted key words (relatively distinct tri-grams)

			#box.panel.panel-default(style="height: 300px")
				#head1.panel-heading Map
				.panel-body
					ui-gmap-google-map(center='map.center', zoom='map.zoom')
						ui-gmap-markers(models='markers', coords="'self'", icon="'icon'")
					button(ng-click='expandMap()') 
						|Expand Map




			#box.panel.panel-default
				#head1.panel-heading Entity Identifiers
				.panel-body
					p e-mail: {{entity.email[0].join(', ') }}
					p Address: <input type="text" name="twitter" ng-model="twitter" required>
					p Twitter: <input type="text" name="twitter" ng-model="twitter" required> 
					p Instagram: <input type="text" name="instagram" ng-model="instagram" required>
					p Youtube: <input type="text" name="youtube" ng-model="youtube" required>
					p Yelp: <input type="text" name="yelp" ng-model="yelp" required>
					button.btn-primary() Submit New Attributes 

			#box.panel.panel-default
				#head1.panel-heading Entity Details
				.panel-body
					p Ages: {{entity.age.join(', ')}}
					p Ethnicities: {{entity.ethnicities.join(', ') | capitalize}}
					p Hourly Price Range: {{entity.minPrice}} to {{entity.maxPrice}}
					p Mode Price: {{entity.modePrice}}
					p Height: {{entity.height.join(', ')}}
					p Weight: {{entity.weight.join(', ')}}
					p Eyes: {{entity.eyes.join(', ')}}
					p Hair: {{entity.hair.join(', ')}}
					p Cities: {{entity.cities.join(', ') | capitalize}}
			
			
						
		.col-md-9
			#box.panel.panel-default
				#head1.panel-heading Active Since {{entity.postTimes[0]}}
				entity-heatmap(config='heatmapConfig', entityId='id')

			hr
			#box.panel.panel-default
				tabset
					tab(heading='{{ads.length}} Ads and Reviews')
						include ./partials/ads.jade
					tab(heading='{{imageUrls.length}} Images')
						include ./partials/images.jade
					tab(heading='{{suggestedAds.length}} Similar Ads')
						include ./partials/suggested.jade
					tab(heading='0 Annotations')
						include ./partials/annotations.jade
					tab(heading='0 Social Media Posts')
						include ./partials/twitter.jade



footer.footer
	.container
		p Designed and Developed by Qadium 2015. All code is open source.
		p About Help Terms Privacy 