div(ng-include='"components/navbar/navbar.html"')

.container
	.row 
		.col-md-3
			.panel.panel-default
				.panel-heading Entity: {{entity.phone | tel}}
				.panel-body.vertical-layout
					.item
						col-md-3(ng-repeat='img in face_image_url | limitTo:5')
							img.responsive(ng-src="{{img}}"
								style="max-height:80px; margin:0 auto;"
								ng-class="{blurry: blur == true, clear: blur != true}")
					.item
						p Names: {{entity.name.join(', ') | capitalize}}
					.item 
						label Blur Images:
						input(type="checkbox" ng-model="blur")
					.item 
						button.btn-success() Save Entity 

			.panel.panel-default(style="height: 300px")
				.panel-heading Map
				ui-gmap-google-map(center='map.center', zoom='map.zoom')
					ui-gmap-markers(models='markers', coords="'self'", icon="'icon'")

			.panel.panel-default
				.panel-heading Entity Identifiers
					.panel-body.vertical-layout
						ul.nobullets.item
							li e-mail: {{entity.email.join(', ') }}
							li Twitter: {{entity.twitter.join(', ') }}
							li Instagram: {{entity.instagram.join(', ') }}
							li Youtube: {{entity.youtube.join(', ') }}
							li Yelp: {{entity.yelp.join(', ') }}

							//- li Twitter: <input type="text" name="twitter" ng-model="twitter" required> 
							//- li Instagram: <input type="text" name="instagram" ng-model="instagram" required>
							//- li Youtube: <input type="text" name="youtube" ng-model="youtube" required>
							//- li Yelp: <input type="text" name="yelp" ng-model="yelp" required>
						//- .item
						//- 	button.btn-primary() Submit New Attributes 

			.panel.panel-default
				.panel-heading Entity Details
				.panel-body
					ul.nobullets
						li Ages: {{entity.age.join(', ')}}
						li Ethnicities: {{entity.ethnicities.join(', ') | capitalize}}
						li Hourly Price Range: {{entity.minPrice}} to {{entity.maxPrice}}
						li Mode Price: {{entity.modePrice}}
						li Height: {{entity.height.join(', ')}}
						li Weight: {{entity.weight.join(', ')}}
						li Eyes: {{entity.eyes.join(', ')}}
						li Hair: {{entity.hair.join(', ')}}
						li Cities: {{entity.cities.join(', ') | capitalize}}


			
		.col-md-9
			.panel.panel-default
				.panel-heading Active Since {{entity.postTimes[0]}}
				entity-heatmap(config='heatmapConfig', entityId='id')


			.panel.panel-default
				tabset
					tab(heading='{{ads.length}} Ads and Reviews')
						include ./partials/ads.jade
					tab(heading='{{imageUrls.length}} Images')
						include ./partials/images.jade
					tab(heading='{{suggestedAds.length}} Similar Ads')
						include ./partials/suggested.jade
					tab(heading='0 Annotations')
						include ./partials/annotations.jade
					tab(heading='{{entity.twitter.length + entity.instagram.length + entity.youtube.length + entity.yelp.length}} Social Media Posts')
						include ./partials/twitter.jade

footer.footer
	.container
		p Designed and Developed by Qadium 2015. All code is open source.
		p About Help Terms Privacy 