div(ng-include='"components/navbar/navbar.html"')

.container
	.row 
		.col-md-3
			.panel.panel-default
				.panel-heading Names: <strong> {{entity.name.join(', ') | capitalize}} </strong>
				.panel-body.vertical-layout
					.item
						col-md-3(ng-if="faceImageUrl.length==0")
							img.responsive(ng-src="http://upload.wikimedia.org/wikipedia/commons/1/1a/Black_-_replace_this_image_female.svg",
								style="max-height:80px; margin:0 auto;")
						col-md-3(ng-if="faceImageUrl.length >0", ng-repeat='img in faceImageUrl | limitTo:5')
							img.responsive(ng-src="{{img}}"
								style="max-height:80px; margin:0 auto;"
								ng-class="{blurry: blur == true, clear: blur != true}")
					.item 
						label Blur Images:
						input(type="checkbox" ng-model="blur")
					.item 
						button.btn-success(ng-click='saveEntity()') Save Entity 
			.panel.panel-default
				.panel-heading Identifiers
				.panel-body.vertical-layout
					p(ng-if="entity.phone.length > 0") &#x2022 Phone(s): {{entity.phone.join(', ') | tel}}
					p(ng-if="entity.email.length > 0") &#x2022 Email(s): {{entity.email.join(', ') }}
					p(ng-if="entity.twitter.length > 0") &#x2022 Twitter: {{entity.twitter.join(', ') }}
					p(ng-if="entity.instagram.length > 0") &#x2022 Instagram: {{entity.instagram.join(', ') }}
					p(ng-if="entity.youtube.length > 0") &#x2022 Youtube: {{entity.youtube.join(', ') }}
			.panel.panel-default
				.panel-heading Details
				.panel-body.vertical-layout
					p(ng-if="entity.age.length > 0") &#x2022 Ages: {{entity.age.join(', ')}}
					p(ng-if="entity.ethnicities.length > 0") &#x2022 Ethnicities: {{entity.ethnicities.join(', ') | capitalize}}
					p(ng-if="entity.minPrice.length > 0") &#x2022 Hourly Price Range: {{entity.minPrice}} to {{entity.maxPrice}}
					p(ng-if="entity.modePrice.length > 0") &#x2022 Mode Price: {{entity.modePrice}}
					p(ng-if="entity.height.length > 0") &#x2022 Height: {{entity.height.join(', ')}}
					p(ng-if="entity.weight.length > 0") &#x2022 Weight: {{entity.weight.join(', ')}}
					p(ng-if="entity.eyes.length > 0") &#x2022 Eyes: {{entity.eyes.join(', ')}}
					p(ng-if="entity.hair.length > 0") &#x2022 Hair: {{entity.hair.join(', ')}}
					p(ng-if="entity.cities.length > 0") &#x2022 Cities: {{entity.cities.join(', ') | capitalize}}
		.col-md-9
			map-box(data='ads' on-bounds-change='onBoundsChange' on-show-selector='onShowSelector' on-range-change='onRangeChange')
			.panel.panel-default
				tabset
					tab(heading='{{$ngc.collection().length}} Ads')
						include ./partials/ads.jade
					tab(heading='{{suggestedAds.length}} Similar Ads')
						include ./partials/suggested.jade
					tab(heading='{{annotations.length}} Notes')
						include ./partials/annotations.jade
					tab(ng-if="{{entity.twitter.length + entity.instagram.length + entity.youtube.length}} > 0", heading='{{entity.twitter.length + entity.instagram.length + entity.youtube.length + entity.yelp.length}} Social Media Accounts')
						include ./partials/twitter.jade
					tab(heading='{{imageUrls.length}} Images')
						include ./partials/images.jade
					//- tab(heading='Image Space')
					//- 	include ./partials/imagespace.jade
