$icon-font-path: "/bower_components/fixed_glyphicons/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'entitydetail/entitydetail.scss';
@import 'imagestream/imagestream.scss';
@import 'main/main.scss';
@import 'main/search.scss';
@import 'posts/posts.scss';
@import 'search/search.scss';
@import 'modal/modal.scss';
// endinjector

$blur: 3px;
.blurry {
    filter: blur($blur);
    // Browser Specific
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
}

.clear {
    filter: blur(0);
    // Browser Specific
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1
}

.angular-google-map-container { height: 200px; }

  map, div[map] {display:block; width:450px; height:300px;}
