div(ng-include='"components/navbar/navbar.html"')

.container

	.row
		.entity-search.col-md-3
			.panel.panel-default
				.panel-heading Entity Search
				.panel-body
					| Filter: 
					input(ng-model="filterText")

		.entity-panel.col-md-9
			.panel.panel-default
				.panel-heading {{entities.length}} Entities
				.panel-body
					//.panel.panel-default(ng-repeat="entity in entities | orderBy:'-nPosts' | filter:filterText" style="height: 600px")
					.panel.panel-default(ng-repeat="entity in entities | orderBy:'-nSuggested' | filter:filterText")
						.panel-heading.clear-fix		
								a.button.btn-primary.btn-lg.pull-right(ui-sref="entitydetail({ id: entity.id })") Inspect
								.panel-title {{entity.phone | tel}} 
						.panel-body
							p Phone: {{entity.phone | tel}}
							p Post times: {{entity.postTimes.join(', ')}} 
							p Number of posts: {{entity.nPosts}}
							p Number of suggested posts: {{entity.nSuggested}}
							//- carousel
							//- 	slide(ng-repeat='img in entity.imageUrls')
							//- 		img(ng-src="{{img}}" style="max-height:300px; margin:0 auto;")
																	
	.container
		p Qadium 2015