div(ng-include='"components/navbar/navbar.html"')



// ------------------------ ISI ---------------------------------------------- //

//- .container
//- 	.row
//- 		.panel.panel-default
//- 			.panel-heading
//- 				h3.panel-title Testing ISI Image Similarity
//- 			.panel-body
//- 				p Testing
//- 				<iframe ng-src="{{imagecat}}" height=1000 width=1000></iframe>
//- 				//- p Testing 2
//- 				//- <iframe ng-src="https://isi.memexproxy.com/ColumbiaUimgSearch.php?url=https://pbs.twimg.com/profile_images/566092970898636801/ONSA8XoQ.jpeg&visualize=1"> </iframe>

// ------------------------ ISI ---------------------------------------------- //



.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-body

					.col-md-3.form
					.col-md-6.form
						center
							//- img(src='https://s3-us-west-1.amazonaws.com/generalmemex/Image/Link+HT.gif')
							h1 <strong> Link HT </strong>
							form(ng-submit='submitElasticSearch()' ng-click="counter = counter + 1" ng-init="counter=0")
								input.search-query.form-control(type='text',ng-model='elasticSearchText', name='text', placeholder='Search...')
								input.btn.btn-primary#submit(type='submit', value='Submit')
					.col-md-3.form



				.search-body.panel-body(ng-if="aggregates.get('entityIds').length > 0")
					.row
						.col-md-2
							h3 Controls
							label Blur Images: 
								input(type="checkbox", ng-model="blur", ng-init="checked=true")
							label Has Face Picture: 
								input(type="checkbox", ng-model="hasFacePic")
							label Has Similar Ads: 
								input(type="checkbox", ng-model="hasSimilarAds")
							label Has Social Media 
								input(type="checkbox", ng-model="hasSocialMedia")
						.col-md-10
							h3 Search Results Summary
							h4 You found <strong> {{aggregates.get('entityIds').length}} entities </strong> , which are made up of <strong> {{aggregates.get('nAds')}} ads </strong> with <strong> {{aggregates.get('nPictures')}} </strong>pictures. 
							h5(ng-if="aggregates.get('age_min').length > 0") The age range extracted from the returns ads is {{aggregates.get('age_min')}} to {{aggregates.get('age_max')}}.
							h5(ng-if="aggregates.get('rate60').length > 0") The price range extracted from the returns ads is {{aggregates.get('price_min') | currency:"$"}} to {{aggregates.get('price_max') | currency:"$"}}. 
						.col-md-2
						.col-md-10
							accordion(close-others='oneAtATime')
								accordion-group(heading='Detailed Search Results Summary', is-disabled='status.isFirstDisabled')
									table.table.table-hover(ng-if="aggregates.get('entityIds').length > 0")
										tbody
											tr(ng-if="aggregates.get('websites').length > 0")
												td Websites hosting ads in search results
												td {{aggregates.get('websites').join(', ')}}
											tr(ng-if="aggregates.get('twitters').length > 0")
												td Twitter Accounts extracted from search results
												td {{aggregates.get('twitters').join(', ')}}
											tr(ng-if="aggregates.get('instagrams').length > 0")
												td Instagram Accounts extracted from search results
												td {{aggregates.get('instagrams').join(', ')}}
											tr(ng-if="aggregates.get('cities').length > 0")
												td Cities extracted from search results
												td {{aggregates.get('cities').join(', ') | capitalize}}
											tr(ng-if="aggregates.get('names').length > 0")
												td Names extracted from search results
												td {{aggregates.get('names').join(', ') | capitalize}}
											tr(ng-if="aggregates.get('ethnicities').length > 0")
												td Ethnicities extracted from search results
												td {{aggregates.get('ethnicities').join(', ') | capitalize}}				
	.row
		.col-md-12(ng-repeat="entity in entities1 | orderBy:'-nSuggested'  | filter:facesFilter | filter:socialMediaFilter | filter: similarAdsFilter")
			.panel.panel-default
				.panel-heading
					h3 <strong> Group **ENTITYID** </strong>  ({{entity.nPosts}} Ads)
				.panel-body
					.col-md-4
						h4 Phone Number(s): <strong> {{entity.phone | tel}} </strong> 
						h4 Active since: <strong> {{entity.firstPostTime.toDateString()}} </strong>
						h4 Ads containing search terms: **Add**
						p(ng-if='entity.name && entity.name.length > 0') Listed names:  <strong>{{entity.name.join(', ') | capitalize}} </strong>
						p(ng-if='entity.website && entity.website.length > 0') Websites:  <strong> {{entity.website.join(', ')}}</strong>
						p(ng-if='entity.city && entity.city.length > 0') Cities:  <strong>{{entity.city.join(', ') | capitalize}}</strong>
						p(ng-if='entity.age && entity.age.length > 0') Listed ages:  <strong>{{entity.age.join(', ')}}</strong>
						p(ng-if='entity.priceRange && entity.priceRange.length > 0') Listed price range: <strong>{{entity.priceRange}} </strong>
						p(ng-if='entity.imageUrls && entity.imageUrls.length > 0')  Pictures: <strong> {{entity.imageUrls.length}}</strong>
						p Pictures with Face: <strong> {{entity.face.length}} </strong>
						p Ads related by image: <strong> {{entity.nSuggestedByImage}}</strong>
						p Ads related by text:<strong> {{entity.nSuggestedByText}}</strong>
						//- p Ads related by phone co-occurence:  <strong> {{entity.nSuggestedByPhone}}</strong>
						p Social Media Accounts: <strong> {{entity.socialmedia}}</strong>
						a.button.btn-primary.btn-lg.pull-left(ui-sref="entitydetail({ id: entity.id })") Inspect
					.col-md-8
						.col-md-12
							.panel.panel-default
								.panel-heading
									.panel-title
										h4 Snippet of search result using Angular Filter + regex
						.col-md-12
							.panel.panel-default
								.panel-heading
									.panel-title
										h4 Most Recent Post at {{entity.website[0]}} on {{entity.lastPostTime.toDateString()}}
								.panel-body.vertical-layout
									.item
										h4 {{entity.title[0]}}
									.item
										p
											| {{entity.text[0]}}
									.item
										.row
											.col-md-2(ng-repeat='img in entity.imageUrls | limitTo:50')	 
												img.responsive(ng-src="{{img}}"
													style="max-height:50px; margin:0 auto;"
													ng-class="{blurry: blur == true, clear: blur != true}")
	footer.footer
		center Designed and Developed by Qadium 2015. Check out the open source code for Link HT on <a href='https://github.com/qadium/link-ht'> Github</a>.
		center <a href='posts'> About </a> <a href='posts'> Help </a> <a href='posts'> Terms </a> <a href='posts'> Privacy </a>
