div(ng-include='"components/navbar/navbar.html"')

.container

	.row
		.entity-search.col-md-12
			#box.panel.panel-default
				#head1.panel-heading Search Across Entities -- {{entities.length}} Entities Found
				.panel-body
					.entity-search.col-md-6
						span.glyphicon.glyphicon-search 
						input(ng-model="filterText")
						br
						br
						label Blur Images:
							input(type="checkbox" ng-model="blur")
					.entity-search.col-md-6
						.entity-search.col-md-6
							p Entities: {{entities.length}}
							p Ads: 
							p Pictures: 
							p Phones: 
							p Websites: 	
						.entity-search.col-md-6
							p Age Range: 
							p Price Range: 
							p Cities: 
							p Ethnicities: 
							p Social Media Accounts:	
		.entity-panel.col-md-12
			.entity-panel.col-md-4
				.panel.panel-default
					#head1.panel-heading.clear-fix		
						.panel-title 
							strong 
								p Entity Details
			.entity-panel.col-md-8
				.panel.panel-default
					#head1.panel-heading.clear-fix		
						.panel-title 
							strong
								p Most Recent Post Associated with Entity
		.entity-panel.col-md-12(ng-repeat="entity in entities | orderBy:'-nSuggested' | filter:filterText")
			.entity-panel.col-md-4
				.panel.panel-default
					#head2.panel-heading.clear-fix			
						.panel-title 
							strong
								{{entity.phone | tel}}
					.panel-body
						a.button.btn-primary.btn-lg.pull-right(ui-sref="entitydetail({ id: entity.id })") Inspect
						p Ads: {{entity.nPosts}}
						p Active since: {{entity.firstPostTime.toDateString()}}
						p Listed names: {{entity.name.join(', ') | capitalize}}
						p Listed ages: {{entity.age.join(', ')}}
						p Listed price range: {{entity.priceRange}} 
						p Cities: {{entity.city.join(', ') | capitalize}}
						p Websites:  {{entity.website.join(', ')}}
						p Face pictures: {{entity.nFaces}}
						p Ads related by image: {{entity.nSuggested}}
						p Ads related by text:
						p Ads related by phone co-occurence: 	
			.entity-panel.col-md-8
				.panel.panel-default
					#head2.panel-heading.clear-fix		
							
							.panel-title 
								strong
									{{entity.website[0]}} on {{entity.lastPostTime.toDateString()}}
					.panel-body
						p 
						strong
							Recent Title: 
						| {{entity.title[0]}}
						p 
						strong
							Recent Ad Text:
						| {{entity.text[0]}}
						p 
						strong
							All Images: 
						| {{entity.imageUrls.length}}
						br
						row
							col-md-3(ng-repeat='img in entity.imageUrls | limitTo:50')					
								img.responsive(ng-src="{{img}}" 
									style="max-height:50px; margin:0 auto;"
									ng-class="{blurry: blur == true, clear: blur != true}")
																	
	footer.footer
		center Designed and Developed by Qadium 2015. All code is open source.
		center About Help Terms Privacy 