div(ng-include='"components/navbar/navbar.html"')

.container

	.row
		.entity-search.col-md-12
			#box.panel.panel-default
				#head1.panel-heading Entity Search -- Found {{entities.length}} Entities
				.panel-body
					span.glyphicon.glyphicon-search 
					input(ng-model="filterText")
					br
					br
					label Blur Images:
						input(type="checkbox" ng-model="blur")

			//#box.panel.panel-default
			//	#head1.panel-heading Aggregate Results
			//	.panel-body
			//		p Ads: {{entities.length}}
			//		p Reviews: {{reviews.length}} 
			//		p Pictures: {{entities.imageUrls.length}}
			//		p Phones: {{phones.length}} 
			//		p Age Range: {{math.min(entity.age)}} -- {{math.max(entity.age)}}
			//		p Price Range: {{math.min(entity.price)}} -- {{math.max(entity.price)}}
			//		p Cities: {{cities.length}}
			//		p Ethnicities: {{ethnicities.length}}
			//		p Websites: {{websites.length}}

		.entity-panel.col-md-12(ng-repeat="entity in entities | orderBy:'-nSuggested' | filter:filterText")
			#box.panel.panel-default
				#head3.panel-body
					.entity-panel.col-md-4
						.panel.panel-default
							#head2.panel-heading.clear-fix		
									
								.panel-title 
									strong 
										{{entity.phone | tel}}
							.panel-body
								a.button.btn-primary.btn-lg.pull-right(ui-sref="entitydetail({ id: entity.id })") Inspect
								p Ads: {{entity.nPosts}}
								p Active since: {{entity.firstPostTime.toDateString()}}
								p Listed ages: {{entity.age.join(', ')}}
								p Listed price range: {{entity.postTimes}}
								p Websites: {{entity.age}}
								p Ads related by image: {{entity.nSuggested}}
								p Ads related by text: {{entity.nSuggested}}
								p Ads related by phone co-occurence: {{entity.nSuggested}}		
					.entity-panel.col-md-8
						.panel.panel-default
							#head2.panel-heading.clear-fix		
									
									.panel-title 
										strong
											Most Most recent post: {{entity.sources_id}} at {{entity.lastPostTime.toDateString()}}
							.panel-body
								p Recent Title:
								p Recent Ad Text: 
								p All Images: {{entity.imageUrls.length}}
								row
									col-md-3(ng-repeat='img in entity.imageUrls')					
										img.responsive(ng-src="{{img}}" 
											style="max-height:50px; margin:0 auto;"
											ng-class="{blurry: blur == true, clear: blur != true}")
																	
	footer.footer
		center Designed and Developed by Qadium 2015. All code is open source.
		center About Help Terms Privacy 