div(ng-include='"components/navbar/navbar.html"')
.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-body
					.col-md-2.form
					.col-md-1.form
					.col-md-6.form
						center
							h1 <strong> Link <span style="color:#ff5351;"> HT </span></strong>
							form(ng-submit='search()' ng-click="counter = counter + 1" ng-init="counter=0")
								input.search-query.form-control(type='text',ng-model='elasticSearchText', name='text', placeholder='Search...')
								input.btn.btn-primary#submit(type='submit', value='Submit')

					.col-md-1.form
					.col-md-2.form(ng-if="aggregates.get('entityIds').length == 0")
					.col-md-2.form(ng-if="aggregates.get('entityIds').length > 0", style="background-color:black")
						left
							h3(style='color:#ff5351') Controls
							label(style='color:white') Blur Images:
								input(type="checkbox", ng-model="blur", ng-init="checked=true")
							label(style='color:white') Has Face Picture:
								input(type="checkbox", ng-model="hasFacePic" ng-change="onFaceChange(hasFacePic)")
							//- label(style='color:white') Has Similar Ads:
							//- 	input(type="checkbox", ng-model="hasSimilarAds" ng-change="onSimilarChange(hasSimilarAds)")
							label(style='color:white') Has Social Media
								input(type="checkbox", ng-model="hasSocialMedia" ng-change="onSocialChange(hasSocialMedia)")
				.search-body.panel-body(ng-if="aggregates.get('entityIds').length > 0")
					.col-md-12
						center
							h3 Search Results Summary
							//- h4 <strong> {{aggregates.get('entityIds').length}} groups </strong>  -- <strong> {{aggregates.get('nAds')}} ads </strong> with <strong> {{aggregates.get('nPictures')}} </strong> pictures. 
							h4 <strong> Displaying {{paginatedEntites.entities.length}} of {{paginatedEntites.total}} groups </strong>  -- <strong> {{aggregates.get('nAds')}} ads </strong> with <strong> {{aggregates.get('nPictures')}} </strong> pictures. 
							h5(ng-if="aggregates.get('ages').length > 0") Extracted age range: {{aggregates.get('age_min')}} to {{aggregates.get('age_max')}}.
							h5(ng-if="aggregates.get('prices').length > 0") Extracted price range: {{aggregates.get('price_min') | currency:"$"}} to {{aggregates.get('price_max') | currency:"$"}} 
							p {{aggregates.get('websites').sort().join(', ')}}
						//- center
						//- 	accordion(close-others='oneAtATime')
						//- 		accordion-group(heading='Click here for more summary details', is-disabled='status.isFirstDisabled')
						//- 			table.table.table-hover(ng-if="aggregates.get('entityIds').length > 0")
						//- 				tbody
						//- 					tr
						//- 						//- (ng-if="aggregates.get('websites').length > 0")
						//- 						td Websites hosting ads in search results
						//- 						td {{aggregates.get('websites').sort().join(', ')}}
						//- 					tr(ng-if="aggregates.get('twitters').length > 0")
						//- 						td Twitter Accounts extracted from search results
						//- 						td {{aggregates.get('twitters').sort().join(', ')}}
						//- 					tr(ng-if="aggregates.get('instagrams').length > 0")
						//- 						td Instagram Accounts extracted from search results
						//- 						td {{aggregates.get('instagrams').sort().join(', ')}}
						//- 					tr(ng-if="aggregates.get('cities').length > 0")
						//- 						td Cities extracted from search results
						//- 						td {{aggregates.get('cities').sort().join(', ') | capitalize}}
						//- 					tr(ng-if="aggregates.get('names').length > 0")
						//- 						td Names extracted from search results
						//- 						td {{aggregates.get('names').sort().join(', ') | capitalize}}
						//- 					tr(ng-if="aggregates.get('ethnicities').length > 0")
						//- 						td Ethnicities extracted from search results
						//- 						td {{aggregates.get('ethnicities').sort().join(', ') | capitalize}}		

	.row
		.col-md-12(ng-if='entities && entities.length == 0')
			accordion(close-others='oneAtATime')
				accordion-group(heading='Example Search Result', is-disabled='status.isFirstDisabled')
					.panel.panel-default
						.panel-heading
							h3 Phone Number(s) (# of Ads)
						.panel-body
							.col-md-4
								h4 Dates Active
								h4 Names Extracted
								h4 E-mails Extracted
								h4 Social Media Usernames Extracted
								h4 Ages Extracted
								h4 Price Range
								p Websites
								p Cities
								p # of Pictures
								p # of Face Pictures
								p # of Ads with Similar Pictures
								p # of Ads with Similar Text
								//- p Ads related by phone co-occurence:  <strong> {{entity.nSuggestedByPhone}}</strong>
							.col-md-8
								.col-md-12
									.panel.panel-default
										.panel-heading
											.panel-title
												h4 # of Appearances of Search Term and Example Snippet Text
										.panel-body.vertical-layout
											p Snippet of ad text with search terms <span style="background-color: #FFFF00">  highlighted </span> 
								.col-md-12
									.panel.panel-default
										.panel-heading
											.panel-title
												h4 Most Recent Ad
										.panel-body.vertical-layout
											.item
												h4 Title of Ad
											.item
												p Text of Ad
												p Images from Ad
		.col-md-12(ng-if='entities && entities.length > 0')
			center
				h2(style='black') View Search Results Below
				br
		.col-md-12(ng-repeat="entity in entityCrossfilter.collection()")

			.panel.panel-default
				.panel-heading
					//- TODO: Bold the 'main' phone number and italicize the non-main phone numbers
					h3(ng-if='entity.phones.length == 1') Phone Number: <strong> {{entity.id | tel}} </strong> ({{entity.nPosts}} Ads)
					h3(ng-if='entity.phones.length > 1') Phone Number: <strong> {{entity.id | tel}} </strong> ({{entity.nPosts}} Ads), Other Phones: {{entity.phones.join(', ')}}
				.panel-body

					.col-md-4
						h4 Active between <strong> {{entity.firstPostTime.toDateString()}} </strong> to <strong> {{entity.lastPostTime.toDateString()}} </strong>
						h4(ng-if='entity.names && entity.names.length > 0') Listed names:  <strong>{{entity.names.join(', ') | capitalize}} </strong>
						h4(ng-if='entity.emails && entity.emails.length > 0') Listed e-mails:  <strong>{{entity.emails.join(', ')}}</strong>
						h4(ng-if='entity.socialmedia && entity.socialmedia.length > 0') Social Media Usernames: <strong> {{entity.socialmedia}}</strong>
						h4(ng-if='entity.ages && entity.ages.length > 0') Listed ages:  <strong>{{entity.ages.join(', ')}}</strong>
						h4(ng-if='entity.priceRange && entity.priceRange.length > 0') Listed price range: <strong>{{entity.priceRange}} </strong>
						p(ng-if='entity.websites && entity.websites.length > 0') Websites:  <strong> {{entity.websites.sort().join(', ')}}</strong>
						p(ng-if='entity.cities && entity.cities.length > 0') Cities:  <strong>{{entity.cities.sort().join(', ') | capitalize}}</strong>
						p(ng-if='entity.imageUrls && entity.imageUrls.length > 0')  Pictures: <strong> {{entity.imageUrls.length}}</strong>
						p(ng-if='entity.face && entity.face.length > 0') Pictures with Face: <strong> {{entity.face.length}} </strong>
						//- p Ads related by image: <strong> {{entity.nSuggestedByImage}}</strong>
						//- p Ads related by text:<strong> {{entity.nSuggestedByText}}</strong>
						//- p Ads related by phone co-occurence:  <strong> {{entity.nSuggestedByPhone}}</strong>
						a.button.btn-primary.btn-lg.pull-left(ui-sref="entitydetail({ id: entity.id })") Investigate

					.col-md-8

						.col-md-12
							.panel.panel-default
								.panel-heading
									.panel-title
										h4 {{entity.nResults}} Appearances of {{elasticSearchText}} in Group, Here's an Example:
								.panel-body.vertical-layout
									p {{entity.snippet1}} <span style="background-color: #FFFF00"> {{entity.snippet2}}  </span>  {{entity.snippet3}}
						.col-md-12
							.panel.panel-default
								.panel-heading
									.panel-title
										h4 Lastest Ad on {{entity.websites[0]}}
								.panel-body.vertical-layout
									.item
										h4 {{entity.titles[0]}}
									.item
										p
											| {{entity.texts[0]}}
									.item
										.row
											.col-md-2(ng-repeat='img in entity.imageUrls | limitTo:50')
												img.responsive(ng-src="{{img}}"
													style="max-height:50px; margin:0 auto;"
													ng-class="{blurry: blur == true, clear: blur != true}")
	footer.footer
		center Designed and Developed by Qadium 2015 for DARPA's Memex program.
		center Check out the open source code for Link HT on <a href='https://github.com/qadium/link-ht'> Github</a>.
		center <a href='faq'> About </a> | <a href='faq'> Help </a> | <a href='faq'> Terms </a> | <a href='faq'> Privacy </a> | <a href="mailto:memex@qadium.com?Subject=Link%20HT%20Feedback" target="_top">Submit Feedback</a>
