div(ng-include='"components/navbar/navbar.html"')

.container

	.row
		.entity-search.col-md-3
			.panel.panel-default
				.panel-heading Entity Search
				.panel-body
					| Filter: 
					input(ng-model="filterText")

		.entity-panel.col-md-9
			.panel.panel-default
				.panel-heading {{entities.length}} Entities
				.panel-body
					.panel.panel-default(ng-repeat="entity in entities | orderBy:'-nPosts' | filter:filterText" style="height: 600px")
						.panel-heading.clear-fix		
								a.button.btn-primary.btn-lg.pull-right(ui-sref="entitydetail({ id: entity.id })") Inspect
								.panel-title {{entity.phone}} 
						.panel-body
							p Phone: {{entity.phone | tel}}
							p Post times: {{entity.postTimes.join(', ')}} 
							p Number of posts: {{entity.nPosts}}
							carousel
								slide(ng-repeat='img in entity.imgs')
									img(ng-src="{{img}}" style="margin:auto;")
																	
footer.footer
	.container
		p Qadium 2015