div(ng-include='"components/navbar/navbar.html"')

.container
	
	.row
		.entity-search.col-md-12
			#box.panel.panel-default
				#head1.panel-heading Ad Search
				.panel-body
					| Filter: 
					input(ng-model="filterText")
					br
					br
					label Blur Images:
						input(type="checkbox" ng-model="blur")
		
		.entity-panel.col-md-3
			.panel.panel-default(ng-repeat='ad in ads | limitTo:10')
				#head2.panel-heading Hi
				p 1
				p 2
				p 3
				

		.entity-panel.col-md-9
			.panel.panel-default(ng-repeat='ad in ads | limitTo:10')

				#head2.panel-heading {{ad.properties.title}}
				.panel-body
					p {{getHost(ad.properties.url)}} -- {{ad.properties.posttime}}
					p {{ad.properties.text}}
					p: a(href='{{ad.properties.url}}') View post

					row
						col-md-3(ng-repeat='img in ad.properties.image_locations')					
							img.responsive(ng-src="{{img}}" 
								style="max-height:100px; margin:0 auto;"
								ng-class="{blurry: blur == true, clear: blur != true}")
