div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					h2 Frequently Asked Questions
				.panel-body
						.com-md-12
							h4 Why Link HT?
							p As an investigator, you build a case based on tracking down tips. Link HT helps you automate the time-consuming aspects of building a case and streamlines entity-resolution. Link HT automatically groups together ads that share the same phone number or e-mail address, displays all relevant information extracted from that group, and suggest other ads that are likely to be associated with that group. 
							h4 What is Link HT?
							p Link HT is Link tailored to human trafficking investigations.
							h4 What is Link?
							p Link is an <strong> entity-centric, domain-specific </strong> search tool integrating investigative search with case-building. Rather than providing search results as a list of documents like traditional search engines, Link provides search results as a list of <strong> groups of documents </strong>. Documents are grouped together by high assurance linkages and user refinements.
							h4 What's a group in Link HT?
							p A group is a collection of ads and reviews. 
							h4 How are ads and reviews grouped together in groups?
							p Initially, groups are collections of ads and reviews that contain the same phone number or e-mail address. As users explore the groups, Link provides suggestions for ads that should also be included in those groups. Users can confirm suggestions and add the ad to the group or remove an add from a group. 
							h4 How are ads and reviews suggested to be included in a group?
							p For a group of ads, Link HT suggests similar ads based on overall image similarity, background image similarity, metadata similarity, and text similarity.
							h4 How does 'search' work in Link HT?
							p After you enter a search term into Link HT, Link HT queries the database of ads and reviews and identifies all ads that contain your search term. In Link HT's search results, Link HT displays all groups of ads that contain ads that contain your search term. If you include a word that does not appear in the data, then you will see no results. 
							h4 What search terms are good examples that showcase Link HT's features?
							p You're free to search on anything, but here are 4 search terms that Qadium uses to demonstrate Link HT.
							p 1. A search on  <strong> jocelyn  </strong>  returns 4 groups, one of which contains phone number (305) 924-3974. This entity has over 30 ads associated with it and over 100 similar ads related by image similarity. This entity also has detailed information and an associated Twitter account. 
							p 2. A search on  <strong>  Brazilian Vixen  </strong>  returns 8 groups, one of which contains (647) 495-5510. This entity has over 100 similar ads related by text similarity.
							p 3. A search on <strong> marriemo </strong> returns 1 group. This group is a good example of faces extracted from images.
							p 4. A search on <strong> 8325985016 </strong> returns 1 group and this group has a Youtube video associated with it.
	footer.footer
		center Designed and Developed by Qadium 2015. All code is open source.
		center <a href='posts'> About </a> <a href='posts'> Help </a> <a href='posts'> Terms </a> <a href='posts'> Privacy </a>
