div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					h2 Frequently Asked Questions
				.panel-body
						.com-md-12
							h4 (1) What is Link and what can it do?
							p Link is an <strong> entity-centric, domain-specific </strong> search tool integrating investigative search with case-building. 
								| Link provides search results as <strong> groups of documents </strong> as opposed to raw documents. Link groups documents by unique identifiers, provides suggestions of other documents that may be related based on a variety of similarity algorithms, and allows the user to refine groups. <br> <br> 
								| Link helps you automate the time-consuming aspects of building a case by streamlining the entity-resolution process. Link automatically groups 
								| together documents (ads or reviews) that share the same unique identifiers (phone number or e-mail address), displays all relevant information extracted from that group, and suggests other ads that are likely to be associated with that group based on image similarity, text homophily, meta-data similarity, and trained entity-resolution machine learning algorithms. 
								| Within a specific domain, what would otherwise be a series of searches in a traditional search engine with copying and pasting of information to a case file is reduced to a single search.
							h4 (2) What is Link HT?
							p Link HT is Link tailored to human trafficking investigations.
							h4 (3) What's a group in Link HT?
							p A group is a collection of ads and reviews that share the same unique identifiers (phones and e-mails) and that may or may not have been refined by the user.  
							h4 (4) How does Link HT suggest ads as relevant to a particular group.
							p Link HT suggests relevant ads based on a variety of similarity algorithms: overall image similarity, background image similarity, metadata similarity, trained entity-resolution machine learning algorithms, and text homophily. There are more similarity algorithms coming soon.
							h4 (5) How does 'search' work in Link HT?
							p After you enter a search term into Link HT, Link HT queries the database of ads and reviews and identifies all ads that contain your search term. In Link HT's search results, Link HT displays all groups of ads that contain ads that contain your search term. If you include a word that does not appear in the data, then you will see no results. 
							h4 (6) What search terms are good examples that showcase Link HT's features?
							p 1. A search on  <strong> jocelyn  </strong>  returns 4 groups, one of which contains phone number (305) 924-3974. This entity has over 30 ads associated with it and over 100 similar ads related by image similarity. This entity also has detailed information and an associated Twitter account. 
							p 2. A search on  <strong>  Brazilian Vixen  </strong>  returns 8 groups, one of which contains (647) 495-5510. This entity has over 100 similar ads related by text similarity.
							p 3. A search on <strong> marriemo </strong> returns 1 group. This group is a good example of faces extracted from images.
							p 4. A search on <strong> 8325985016 </strong> returns 1 group and this group has a Youtube video associated with it.
	footer.footer
		center Designed and Developed by Qadium 2015 for DARPA's Memex program. 
		center Check out the open source code for Link HT on <a href='https://github.com/qadium/link-ht'> Github</a>.
		center <a href='faq'> About </a> | <a href='faq'> Help </a> | <a href='faq'> Terms </a> | <a href='faq'> Privacy </a> | <a href="mailto:memex@qadium.com?Subject=Link%20HT%20Feedback" target="_top">Submit Feedback</a>
