div(ng-include='"components/navbar/navbar.html"')
.container
	.row
		#masonry
			img(ng-repeat='imageUrl in imageUrls' ng-src='{{imageUrl}}', alt='')

	footer.footer
		center Designed and Developed by Qadium 2015. All code is open source.
		center About Help Terms Privacy