div(ng-include='"components/navbar/navbar.html"')
.container
	.row
		.item 
			label Blur Images:
			input(type="checkbox" ng-model="blur")
		#masonry
			img(ng-repeat='imageUrl in imageUrls' ng-src='{{imageUrl}}' ng-class="{blurry: blur == true, clear: blur != true}", alt='')
	footer.footer
		center Designed and Developed by Qadium 2015. Check out the open source code for Link HT on <a href='https://github.com/qadium/link-ht'> Github</a>.
		center <a href='posts'> About </a> <a href='posts'> Help </a> <a href='posts'> Terms </a> <a href='posts'> Privacy </a>
