div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					//- h4 Ads in Last 24 Hours
					h4 Image Stream Under Development
				.panel-body

	footer.footer
		center Designed and Developed by Qadium 2015. All code is open source.
		center About Help Terms Privacy