.panel.panel-default(ng-repeat='ad in ads')
				.panel-title.h1 {{ad.data.title}}
				.panel-body
					p PHONE: {{ad.data.phone | tel}}
					p {{ad.data.text}}
					p URL: {{ad.data.url}}
					
					//- carousel
					//- 	slide(ng-repeat='img in ad.data.image_locations')
					//- 		img(ng-src="{{img}}" style="max-height:300px; margin:0 auto;")
					row
						col-md-3(ng-repeat='img in ad.data.image_locations')					
							img.responsive(ng-src="{{img}}" 
								style="max-height:100px; margin:0 auto;"
								ng-class="{blurry: blur == true, clear: blur != true}")						