.panel.panel-default(ng-repeat='ad in ads')
	.panel-heading.h1  {{sourceMap[ad.properties.sources_id]}} at {{ad.properties.posttime | date}}
	.panel-body.vertical-layout
		.item
			h4 {{ad.properties.title}}
			p {{ad.properties.text}}
			p: a(href='{{ad.properties.url}}') View original post
		.item
			row
				col-md-3(ng-repeat = 'img in ad.properties.image_locations track by $index')
					img.responsive(ng-src = "{{img}}" 
						style="max-height:100px; margin:0 auto;"
						ng-class="{blurry: blur == true, clear: blur != true}")
	.panel-footer.clearfix
		span.glyphicon.glyphicon-camera(ng-if='ad.linkedByImage' popover="Linked by image similarity" popover-trigger="mouseenter" popover-placement="right")
		span.label.label-default(ng-if='ad.linkedByImage' popover="Linked by image similarity" popover-trigger="mouseenter" popover-placement="right") Linked By Image
		span.glyphicon.glyphicon-font(ng-if='ad.LinkedByText' popover="Linked by text similarity" popover-trigger="mouseenter" popover-placement="right")
		span.label.label-default(ng-if='ad.linkedByText' popover="Linked by text similarity" popover-trigger="mouseenter" popover-placement="right") Linked By Text
		span.glyphicon.glyphicon-user(ng-if='ad.linkedByUsername' popover="Linked by identical username" popover-trigger="mouseenter" popover-placement="right")
		span.label.label-default(ng-if='ad.linkedByUsername' popover="Linked by identical username" popover-trigger="mouseenter" popover-placement="right") Linked By Identical Username
		span.glyphicon.glyphicon-film(ng-if='ad.linkedByVideo' popover="Linked by video similarity" popover-trigger="mouseenter" popover-placement="right")
		span.glyphicon.glyphicon-earphone(ng-if='ad.linkedByPhone' popover="Linked by phone number co-occurence" popover-trigger="mouseenter" popover-placement="right")
		span.label.label-default(ng-if='ad.linkedByPhone' popover="Suggested by phone number co-occurence" popover-trigger="mouseenter" popover-placement="right") Linked By Same Phone

		//- span.glyphicon.glyphicon-camera(ng-if='ad.suggestedByImage' popover="Suggested by image similarity" popover-trigger="mouseenter" popover-placement="right")
		//- span.glyphicon.glyphicon-film(ng-if='ad.suggestedByText' popover="Suggested by text similarity" popover-trigger="mouseenter" popover-placement="right")
		//- span.glyphicon.glyphicon-user(ng-if='ad.suggestedByUsername')
		//- span.glyphicon.glyphicon-film(ng-if='ad.suggestedByVideo')
		//- span.glyphicon.glyphicon-earphone(ng-if='ad.suggestedByPhone')

		.pull-right
			button.btn-primary(ng-click='') 
				|Detach from Entity