.panel.panel-default(ng-repeat='ad in ads')
				.panel-title.h1 {{ad.data.title}}
				.panel-body
					p PHONE: {{ad.data.phone | tel}}
					p {{ad.data.text}}
					p URL: {{ad.data.url}}
					

					carousel
						slide(ng-repeat='img in ad.imgs')
							img(ng-src="{{img}}" style="margin:auto;")