.panel.panel-default(ng-repeat='ad in ads')
	.panel-heading.h1  {{ad.properties.sources_id}} at {{ad.properties.posttime}}
	.panel-body.vertical-layout
		.item
			h4 {{ad.properties.title}}
			p {{ad.properties.text}}
			p: a(href='{{ad.properties.url}}') View original post
		.item
			row
				col-md-3(ng-repeat = 'img in ad.properties.image_locations')
					img.responsive(ng-src = "{{img}}" 
						style="max-height:100px; margin:0 auto;"
						ng-class="{blurry: blur == true, clear: blur != true}")
	.panel-footer.clearfix
		span.glyphicon.glyphicon-camera(ng-if='ad.suggestedByImage' popover="Suggested by image similarity" popover-trigger="mouseenter" popover-placement="right")
		span.glyphicon.glyphicon-film(ng-if='ad.suggestedByText' popover="Suggested by text similarity" popover-trigger="mouseenter" popover-placement="right")
		span.glyphicon.glyphicon-user(ng-if='ad.suggestedByUsername')
		span.glyphicon.glyphicon-film(ng-if='ad.suggestedByVideo')
		span.glyphicon.glyphicon-earphone(ng-if='ad.suggestedByPhone')

		.pull-right
			button.btn-primary(ng-click='') 
				|Detach from Entity