
.panel.panel-default(ng-repeat='annotation in annotations')
	.panel-heading.h1  {{annotation.username}} -- {{annotation.date | date}}
	.panel-body
		| {{annotation.text}}

	//- .panel-footer.clearfix
		

form.form-inline(role='form' ng-submit='submitAnnotation()')
	.form-group
		input.form-control(type='text', placeholder='Your comments', ng-model='annotationText')
	.form-group
		button.btn.btn-default(type="submit" id="submit" value="Submit") Add



		//- .pull-right
		//- 	button.btn-primary(ng-click='') 
		//- 		|Add to  Entity
		//- 	br
		//- 	button.btn-danger(ng-click='') 
		//- 		|Remove from Entity


