
.panel.panel-default(ng-repeat='annotation in annotations')
	.panel-heading.h1  {{annotation.username}} -- {{annotation.date | date}}
	.panel-body
		| {{annotation.text}}

	//- .panel-footer.clearfix
form(ng-submit="submit()")
	| Enter an annotation: 
	input(type="text" ng-model="text" name="text")
	input(type="submit" id="submit" value="Submit")
	pre(list={{list}})
