.panel.panel-default
	.panel-heading
		h1.panel-title  Notes
	.panel-body
		form(ng-submit="submit()")
				| Add a note: 
				input(type="text" ng-model="text" name="text" placeholder='...')
				input(type="submit" id="submit" value="Submit")

.panel.panel-default(ng-repeat='annotation in annotations')
	.panel-heading.h1  {{annotation.username}} -- {{annotation.date | date}}
	.panel-body
		| {{annotation.text}}

// ------------------------ Start Upload to S3 Code ---------------------------------------------- //


.panel.panel-default
	.panel-heading
		h1.panel-title Upload Image
	.panel-body
		.col-md-12.form
			input.bottom-marg-15(type='file', name='file', id='file')
			.progress
				.progress-bar(role='progressbar', aria-valuenow='{{ uploadProgress }}', aria-valuemin='0', aria-valuemax='100', style='width: {{ uploadProgress }}%;')
					| {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
			a.btn.btn-primary.btn-block.btn-lg(ng-click='upload()') Upload
// ------------------------ End Upload to S3 Code ---------------------------------------------- //


// ------------------------ Start Display Similar Images ---------------------------------------------- //


.panel.panel-default
	.panel-heading
		h3.panel-title Similar Images

	.panel-body
		.col-md-12.form
			h2 Uploaded Images
		.col-md-12.form
			.col-md-3(ng-repeat='image in s3_URLs | limitTo:15')
				img.responsive(ng-src="{{image}}"
					style="max-height:200px; margin:0 auto; border:10px solid black;"
					ng-class="{blurry: blur == true, clear: blur != true}")
	.panel-body
		.col-md-9.form
			h2 Similar Images
			a.btn.btn-primary.btn-block.btn-sm(ng-click='seeImages()') See Similar Images to Uploaded Images
			.col-md-3(ng-repeat='image in simImageUrl | limitTo:20')
				img.responsive(ng-src="{{image}}"
					style="max-height:200px; margin:0 auto; border:10px solid blue"
					ng-class="{blurry: blur == true, clear: blur != true}")



// ------------------------ End Display Similar Images ---------------------------------------------- //


