center
	p View imagecat in a separate page <a href="{{imagecat}}"> here </a> 
	//- p ads_id%3A32711920%20OR%20ads_id%3A32711944
	//- p {{id}}
	//- p The ads id: {{imagecat}}
	//- p {{ads[0]}}
	<iframe ng-src="{{imagecat}}" height=900 width=840></iframe>