//- div(ngif='suggestedAds.length===0')
//- 	p No suggested ads.

.panel.panel-default(ng-repeat='ad in suggestedAds')

	#head2.panel-heading.h1 {{ad.properties.sources_id}} at {{ad.properties.posttime}}

	.panel-body
		p Title: {{ad.properties.title}}
		p Text: {{ad.properties.text}}
		p: a(href='{{ad.properties.url}}') View post

		row
			col-md-3(ng-repeat='img in ad.properties.image_locations')					
				img.responsive(ng-src="{{img}}" 
					style="max-height:100px; margin:0 auto;"
					ng-class="{blurry: blur == true, clear: blur != true}")
	.panel-footer.clearfix
		span.glyphicon.glyphicon-camera(ng-if='ad.suggestedByImage' popover="Suggested by image similarity" popover-trigger="mouseenter" popover-placement="right")
		span.glyphicon.glyphicon-user(ng-if='ad.suggestedByUsername')
		span.glyphicon.glyphicon-film(ng-if='ad.suggestedByVideo')
		span.glyphicon.glyphicon-earphone(ng-if='ad.suggestedByPhone')

		.pull-right
			button.btn-primary(ng-click='linkToEntity(ad)') 
				|Link to Entity