//- div(ngif='suggestedAds.length===0')
//- 	p No suggested ads.

.panel.panel-default(ng-repeat='ad in suggestedAds')
	.panel-title.h1 {{ad.data.title}}
	.panel-body
		p {{getHost(ad.data.url)}} -- {{ad.data.posttime}}
		p {{ad.data.text}}
		p: a(href='{{ad.data.url}}') View post

		row
			col-md-3(ng-repeat='img in ad.data.image_locations')					
				img.responsive(ng-src="{{img}}" 
					style="max-height:100px; margin:0 auto;"
					ng-class="{blurry: blur == true, clear: blur != true}")