.row
	.col-md-12
		.panel.panel-default
		.panel-heading 
			accordion(close-others='oneAtATime')
				accordion-group(heading='Twitter ({{entity.twitter.length}})', is-open='status.isFirstOpen', is-disabled='status.isFirstDisabled')
					ul.nobullets
						li Show Profile Pic {{entity.twitter_profile_pic.join(', ') }}
						li Show Background Pic {{entity.twitter_background_pic.join(', ') }}
						li User Name: {{entity.twitter_name.join(', ') }}
						li User Description:{{entity.twitter_description.join(', ') }}
						li User Tweets {{entity.twitter_tweets.join(', ') }}
						li Followers: {{entity.twitter_followers.join(', ') }}
						li Following: {{entity.twitter_friends.join(', ') }}
				accordion-group(heading='Instagram ({{entity.instagram.length}})')
					ul.nobullets
						li Show profile pic {{entity.instagram_profile_picture.join(', ')}}
						li User Name: {{entity.instagram.join(', ')}}
						li Tags: {{entity.instagram_tags.join(', ')}} 
						li Followers: {{entity.instagram_followers.join(', ')}}
						li Following: {{entity.instagram_follows.join(', ')}}
						li Likers: {{entity.instagram_likers.join(', ')}}
				accordion-group(heading='Youtube ({{entity.youtube.length}})')
					h4 Videos Embedded in Ads
						row
						.col-md-12(ng-repeat = 'video1 in entity.youtube')
							iframe(width='420', height='315', ng-src='{{video1}}')

								
						.col-md-12(ng-repeat = 'video2 in entity.youtubeSameuser')
							h4 Other Videos Posted by the Same User: {{entity.youtubeUsername}}

							<iframe width="420" height="315" src='{{video2}}'></iframe>



				accordion-group(heading='Yelp ({{entity.yelp.length}})')
					p No Yelp Listings


			

	